/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    
  }

  
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  /* Header / Navigation */
  header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
  }

  /* search box start */

  .nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}


.search-select{
    background-color:#f3f3f3;
    width: 30px;
    text-align:center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
  width: 100%;
  font-size: 1rem;
  border: none;
}

.search-icon{
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: red;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111
  
}

.nav-search:hover{
    border: 3px solid red;
}
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
  }

  /* search box end */
  
  nav .logo h1 {
    margin-left: 25px;
    margin-top:0px;
    padding:0;    
    color: red;
  }
  
  .nav-links {
    list-style: none;
    margin-right: 30px;
    display: flex;
    margin-top:0px;
     gap: 20px;
  }
  
  .nav-links li a {
    color: red;
    padding: 10px;
    font-size: 1.2rem;
    /* padding-bottom:28px; */
  }
  
  .nav-links li a:hover {
    background-color: #fff;
    border-radius: 5px;
  }
  
  /* Hero Section */
  .hero {
    background: #d56073;
    color: black;
    padding: 100px 20px;
    text-align: center;
  }
  
  .hero h2 {
    font-size: 2.5rem;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin: 20px 0;
  }
  
  .cta-btn {
    background-color: #fff;
    color: black;
    padding: 10px 20px;
    border-radius: 60px;
    font-size: 1rem;
    transition: background:0.3s;
  }
  
  .cta-btn:hover {
    background-color: #d91656;
    color: white;
  }
  
  /* About Section */
  .about {
    padding: 60px 40px;
    text-align: center;
    background-color: #A7D477;
  }
  
  .about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Skills Section */
  .skills {
    background: #ecf0f1;
    padding: 60px 20px;
    background-color: #cdc1ff;
  }
  
  .skills h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .skills-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .skills-list li {
    font-size: 1.2rem;
    background-color: #9694ff;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.3s;
  }
  
  .skills-list li:hover {
    background-color: #001a6e;
  }
  
  /* Projects Section */
  .projects {
    padding: 60px 20px;
    background-color: #a294f9;
  }
  
  .projects h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .project-card {
    background: #cdc1ff;
    padding: 2s0px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  
  .project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .project-card p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .project-card a {
    color: #d14d72;
    font-size: 1.2rem;
  }
  
  /* Contact Section */
  .contact {
    background: #387478;
    color: black;
    padding: 60px 20px;
    text-align: center;
  }
  
  .contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  #contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  #contact-form input,
  #contact-form textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  #contact-form button {
    background: #fff;
    color: red;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  #contact-form button:hover {
    background-color: #006989;
    color: black;
  }
  
  /* Footer */
  footer {
    justify-content: space-evenly;
    padding: 30px;
    background-color: #22177a;
    color: #fff;
  }

  .foot-panel1{
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2 {
  background-color: #222f3d;
  color:white;
  height:300px;
  display:flex;
  justify-content: space-evenly;
}

ul{
  margin-top: 20px;
}

ul a{
  display:block;
  font-size: 0.85rem;
  margin-top:10px;
  color: #dddddd
}
.foot-panel3 {
  background-color: #222f3d;
  color: white;
  border-top: 0.5px solid white;
  height:70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  background-image: url("logo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
}

.foot-panel4{
  background-color: #0f1111;
  color: white;
  height:80px;
  
}

.pages{
  font-size: 0.7rem;
  text-align: center;
  padding-top: 25px;

}

.copyright{
  padding: 5px;
  font-size: 0.7rem;
  text-align: center;

}

#b2{
    border-radius:5px;
}


  
  /* Media Queries */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .hero h2 {
      font-size: 2rem;
    }
  
    .hero p {
      font-size: 1rem;
    }
  
    .skills-list {
      flex-direction: column;
    }
  
    .project-card {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .cta-btn {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 480px) {
    .hero h2 {
      font-size: 1.8rem;
   
  
